:root {
  --primary-font: "Overpass", "Segoe UI", sans-serif;
  --secondary-font: "Ubuntu", "Tahoma", sans-serif;
  --primary-color: hsl(13, 100%, 72%);
  --secondary-color: hsl(353, 100%, 62%);
  --highlight-color: hsl(356, 100%, 66%);
  --dark-color: hsl(208, 49%, 24%);
  --light-color: white;
  --background-color: hsl(240, 10%, 16%);
  --text-color: lightgray;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: clip;
}

.dropdown,
.mobile-menu,
.mobile-menu__dropdown,
.nav__burger-btn,
.nav__exit-btn {
  display: none;
}

.header {
  position: relative;
  height: 650px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 5em;
  overflow: hidden;
}

.header__background {
  position: absolute;
  top: -1400px;
  left: -495px;
  width: 3300px;
  z-index: 0;
}

.header__logo {
  position: absolute;
  top: 65px;
  left: 150px;
  z-index: 2;
}

.header__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 76px 150px 0 300px;
  font-family: var(--secondary-font);
  font-weight: 500;
  z-index: 1;
}

.nav__list,
.auth__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;
  z-index: 1;
}

.nav__item a,
.auth__item a:first-child {
  text-decoration: none;
  color: #f8cbc9;
}

.nav__item > a:hover {
  text-decoration: underline;
  color: var(--light-color);
}

.nav__item:last-child {
  position: relative;
}

.auth__item:last-child a {
  padding: 15px 43px;
  color: var(--highlight-color);
  background-color: var(--light-color);
  border-radius: 2em;
  font-weight: bold;
  transition: 0.4s ease;
}

.auth__item:last-child a:hover {
  color: var(--light-color);
  background-color: hsl(355, 100%, 74%);
}

.nav__arrow {
  position: absolute;
  margin: 7px 0 0 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.dropdown {
  position: absolute;
  top: 50px;
  left: -20px;
  width: 130px;
  height: 120px;
  padding: 35px 35px 25px 35px;
  background-color: var(--light-color);
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.dropdown__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 25px;
  list-style-type: none;
}

.dropdown__list a {
  color: black;
}

.dropdown__list a:hover {
  font-weight: bold;
}

.main-content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 200px;
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--light-color);
}

.main-content__title {
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 500;
  text-align: center;
}

.main-content__subtitle {
  margin: 20px 0 70px 0;
  font-size: 1.3em;
  font-weight: 100;
}

.main-content__cta-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.main-content__cta-item a {
  padding: 15px 25px;
  font-family: var(--secondary-font);
  text-decoration: none;
}

.main-content__cta-item:first-child a {
  font-weight: 700;
  color: var(--highlight-color);
  background-color: var(--light-color);
  border-radius: 2em;
  transition: 0.4s ease;
}

.main-content__cta-item:first-child a:hover {
  font-weight: 700;
  color: var(--light-color);
  background-color: hsl(355, 100%, 74%);
  border-radius: 2em;
}

.main-content__cta-item:last-child a {
  font-weight: 700;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2em;
  transition: 0.4s ease;
}

.main-content__cta-item:last-child a:hover {
  color: var(--highlight-color);
  background-color: var(--light-color);
}

.features-section {
  position: relative;
  font-family: var(--primary-font);
  color: var(--dark-color);
  background-color: #fafafa;
  overflow: hidden;
}

.features-section__title {
  margin: 150px auto 80px;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.features-section__image {
  position: absolute;
  top: 80px;
  right: -270px;
  width: 880px;
}

.features-section__list {
  width: 35.2%;
  margin: 100px 0 230px 150px;
  padding: 0;
  list-style-type: none;
}

.features-section__item {
  line-height: 1.7;
}

.features-section__item-title {
  margin-bottom: 20px;
  font-size: 1.7em;
}

.features-section__item:last-child {
  margin-top: 70px;
}

.infrastructure-section {
  position: relative;
  height: 400px;
  background-image: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  border-top-right-radius: 5em;
  border-bottom-left-radius: 5em;
  overflow: hidden;
}

.infrastructure-section__background-image {
  position: absolute;
  top: -510px;
  left: -215px;
}

.infrastructure-section__content {
  position: absolute;
  top: 80px;
  right: 205px;
  width: 35%;
  font-family: var(--primary-font);
  color: var(--light-color);
  z-index: 1;
}

.infrastructure-section__title {
  font-size: 2.2em;
  font-weight: 500;
}

.infrastructure-section__description {
  line-height: 1.7;
  color: var(--text-color);
}

.tools-section {
  position: relative;
  height: 1000px;
  font-family: var(--primary-font);
  color: var(--dark-color);
  background-color: #fafafa;
}

.tools-section__image--phones {
  position: absolute;
  top: -470px;
  left: 120px;
  z-index: 1;
}

.tools-section__image--laptop {
  position: absolute;
  top: 100px;
  left: -280px;
}

.tools-section__list {
  float: right;
  width: 35%;
  margin: 240px 200px 0 0;
  padding: 0;
  list-style-type: none;
}

.tools-section__item {
  line-height: 1.7;
}

.tools-section__item-title {
  margin-bottom: 25px;
  font-size: 1.7em;
}

.tools-section__item-description {
  margin-bottom: 70px;
}

.footer {
  display: flex;
  gap: 200px;
  background-color: var(--background-color);
  border-top-right-radius: 5em;
}

.footer__logo-image {
  padding: 70px 0 0 150px;
}

.footer__content {
  display: flex;
  margin: 70px 0;
  gap: 200px;
}

.footer__list {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  font-weight: 400;
  list-style-type: none;
}

.footer__item {
  margin-bottom: 15px;
}

.footer__item a {
  text-decoration: none;
  color: var(--text-color);
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__item:first-child {
  margin-bottom: 40px;
}

.footer__item:first-child a {
  font-weight: bold;
  color: var(--light-color);
}

@media screen and (max-width: 1440px) {
  .infrastructure-section__title {
    width: 115%;
  }

  .tools-section__image--phones {
    top: -470px;
    width: 550px;
  }
}

@media screen and (max-width: 1380px) {
  .infrastructure-section__content {
    right: 130px;
  }

  .tools-section__image--phones {
    left: 100px;
  }

  .tools-section__list {
    margin-right: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .header__background {
    top: -1100px;
    left: -490px;
    width: 2800px;
  }

  .main-content {
    padding-top: 232px;
  }

  .main-content__title {
    font-size: 3em;
  }

  .features-section__title {
    font-size: 2em;
  }

  .features-section__list {
    width: 37%;
    margin-left: 100px;
  }

  .infrastructure-section {
    height: 330px;
  }

  .infrastructure-section__background-image {
    top: -560px;
    left: -220px;
  }

  .infrastructure-section__content {
    width: 40%;
    right: 80px;
  }

  .infrastructure-section__title {
    width: 100%;
    font-size: 1.3em;
  }

  .infrastructure-section__description {
    font-size: 14px;
  }

  .tools-section__image--phones {
    width: 440px;
    top: -380px;
    left: 90px;
  }

  .tools-section__image--laptop {
    width: 800px;
    top: 180px;
    left: -230px;
  }

  .tools-section__list {
    margin-top: 280px;
  }

  .tools-section__item-title {
    font-size: 1.3em;
  }

  .tools-section__item-description {
    font-size: 14px;
  }

  .footer {
    gap: 100px;
  }

  .footer__content {
    margin-right: 170px;
    gap: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .header__background {
    top: -1000px;
    left: -500px;
    width: 2600px;
  }

  .header__logo {
    left: 103px;
  }

  .header__nav {
    float: right;
    padding: 76px 103px 0 0;
  }

  .nav__list,
  .auth__list {
    display: none;
  }

  .nav__burger-btn,
  .nav__exit-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: 120px;
    right: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 200px;
    padding: 30px 50px;
    gap: 20px;
    font-family: var(--primary-font);
    background-color: var(--light-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
  }

  .mobile-menu a {
    text-decoration: none;
  }

  .mobile-menu__nav-list,
  .mobile-menu__dropdown-list,
  .mobile-menu__auth-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .mobile-menu__nav-list {
    gap: 30px;
  }

  .mobile-menu__dropdown-list {
    align-items: center;
    width: 250px;
    margin: 0;
    padding: 20px 0;
    gap: 20px;
    background-color: #efeff1;
    border-radius: 0.3em;
  }

  .mobile-menu__divider {
    width: 130%;
    height: 1px;
    margin: 0;
    background-color: #ccc;
  }

  .mobile-menu__auth-list {
    gap: 20px;
  }

  .mobile-menu__nav-item,
  .mobile-menu__auth-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu__nav-item a,
  .mobile-menu__auth-item:first-child a {
    color: rgb(83, 83, 83);
  }

  .mobile-menu__dropdown-item a {
    color: #6e7885;
  }

  .mobile-menu__auth-item:last-child a {
    padding: 15px 40px;
    color: var(--light-color);
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    border-radius: 2em;
  }

  .features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .features-section__image {
    position: relative;
    top: 0;
    right: 0;
    width: 600px;
    margin-bottom: 20px;
  }

  .features-section__list {
    width: 50%;
    margin: 0 0 250px 0;
  }

  .features-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .features-section__item:last-child {
    margin-top: 0;
  }

  .features-section__content {
    display: flex;
    justify-content: center;
  }

  .infrastructure-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .infrastructure-section__content {
    position: relative;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  .infrastructure-section__title {
    margin: 0 0 20px;
    font-size: 2.4rem;
  }

  .infrastructure-section__description {
    margin-top: 0;
    font-size: 16px;
  }

  .tools-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 100px 0;
  }

  .tools-section__list {
    width: 50%;
    margin: 0;
  }

  .tools-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .tools-section__item-title {
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .tools-section__item-description {
    margin-bottom: 0;
    font-size: 16px;
  }

  .tools-section__image--phones {
    position: absolute;
    top: -800px;
    left: auto;
  }

  .tools-section__image--laptop {
    position: relative;
    top: -10px;
    left: 0;
    width: 800px;
  }

  .footer {
    flex-direction: column;
  }

  .footer__logo {
    margin: 100px auto 0;
  }

  .footer__logo-image {
    padding: 0;
  }

  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    gap: 40px;
  }

  .footer__list {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-image: linear-gradient(
      var(--primary-color),
      var(--secondary-color)
    );
  }

  .header__background {
    top: -240px;
    left: -355px;
    width: 1400px;
  }

  .header__logo {
    left: 30px;
  }

  .header__nav {
    padding: 76px 30px 0 0;
  }

  .main-content {
    padding-top: 230px;
  }

  .main-content__title,
  .main-content__subtitle {
    text-align: center;
  }

  .main-content__title {
    margin: 0 30px;
    font-size: 2.2em;
  }

  .main-content__subtitle {
    margin: 20px 30px 70px;
    font-size: 1.22em;
  }

  .mobile-menu {
    top: 130px;
    right: 30px;
  }

  .features-section__title {
    font-size: 1.7em;
    margin: 100px 0 40px 0;
  }

  .features-section__image {
    width: 108%;
  }

  .features-section__list {
    width: 75%;
  }

  .features-section__item-title {
    line-height: 1.2;
  }

  .features-section__item-description {
    width: 104%;
  }

  .infrastructure-section__background-image {
    top: -220px;
    left: -110px;
    width: 580px;
  }

  .infrastructure-section__content {
    width: 78%;
    margin-bottom: 25px;
  }

  .tools-section__image--phones {
    top: -780px;
    width: 23.7rem;
  }

  .tools-section__image--laptop {
    top: 0px;
    width: 120%;
  }

  .tools-section {
    padding: 50px 0;
  }

  .tools-section__list {
    width: 80%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 374px) {
  .features-section__image,
  .tools-section__image--phones,
  .tools-section__image--laptop {
    width: 100%;
  }

  .main-content__title {
    margin: 0;
    font-size: 2rem;
  }

  .main-content__subtitle {
    width: 80%;
    margin: 20px 15px 50px;
    font-size: 1rem;
  }

  .main-content__cta-item a {
    padding: 15px 20px;
    font-size: 0.875rem;
  }

  .mobile-menu {
    width: 9.2rem;
  }

  .mobile-menu__dropdown-list {
    width: 12rem;
    align-items: center;
  }
}
