:root {
  --primary-font: "Overpass", "Segoe UI", sans-serif;
  --secondary-font: "Ubuntu", "Tahoma", sans-serif;
  --background-color: hsl(0, 0%, 98%);
  --primary-color: hsl(13, 100%, 72%);
  --secondary-color: hsl(353, 100%, 62%);
  --highlight-color: hsl(356, 100%, 66%);
  --black-color: hsl(0, 0%, 0%);
  --heading-color: hsl(208, 49%, 24%);
  --bodycopy-color: hsl(207, 13%, 34%);
  --light-color: hsl(0, 0%, 100%);
  --nav-color: hsl(3, 77%, 88%);
  --footer-color: hsl(240, 10%, 16%);
  --footer-text-color: hsl(240, 2%, 79%);
  --hover-color: hsl(355, 100%, 74%);
  --text-color: hsl(0, 0%, 83%);
  --dark-gray-blue: hsl(237, 17%, 21%);
  --dark-desaturated-blue: hsl(237, 23%, 32%);
  --dropdown-list-color: hsl(240, 7%, 94%);
  --divider-color: hsl(0, 0%, 80%);
  --mobile-text-color: hsl(0, 0%, 33%);
  --dropdown-text-color: hsl(214, 9%, 48%);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  overflow-x: clip;
}

.header,
.header__nav,
.nav__list,
.nav__item:last-child,
.auth__list,
.dropdown__list,
.features-section,
.infrastructure-section,
.tools-section {
  position: relative;
}

.header__background,
.header__logo,
.nav__arrow,
.dropdown,
.mobile-menu,
.hero,
.features-section__image,
.infrastructure-section__background-image,
.infrastructure-section__content,
.tools-section__image--phones,
.tools-section__image--laptop {
  position: absolute;
}

.header__nav,
.nav__list,
.auth__list,
.dropdown,
.infrastructure-section__content,
.tools-section__image--phones {
  z-index: 1;
}

.header__logo,
.mobile-menu {
  z-index: 2;
}

.dropdown,
.mobile-menu,
.mobile-menu__dropdown,
.nav__burger-btn,
.nav__exit-btn {
  display: none;
}

.hero,
.footer,
.footer__content {
  display: flex;
}

.nav__list,
.auth__list,
.dropdown__list,
.mobile-menu__nav-list,
.mobile-menu__dropdown-list,
.mobile-menu__auth-list,
.hero__cta-list,
.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown__list,
.mobile-menu,
.mobile-menu__nav-list,
.mobile-menu__dropdown-list,
.mobile-menu__auth-list, 
.hero,
.footer__list {
  flex-direction: column;
}

.nav__list,
.auth__list {
  gap: 3.125rem;
}

.dropdown__list a:hover,
.footer__item:first-child a {
  font-weight: bold;
}

.nav__item > a:hover,
.footer__item a:hover {
  text-decoration: underline;
}

.hero__cta-item a,
.footer__item a {
  text-decoration: none;
}

.nav__item a,
.auth__item a:first-child {
  text-decoration: none;
  color: var(--nav-color);
}

.hero__title,
.features-section__title {
  text-align: center;
}

.nav__item > a:hover,
.auth__item:last-child a:hover,
.hero {
  color: var(--light-color);
}

.features-section__list,
.tools-section__list {
  list-style-type: none;
}

.nav__arrow,
.rotate-180 {
  transition: transform 0.3s ease-in-out;
}

.header {
  height: 40.625rem;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 5rem;
  overflow: hidden;
}

.header__background {
  top: -87.5rem;
  left: -30.9375rem;
  width: 206.25rem;
  z-index: 0;
}

.header__logo {
  top: 4.0625rem;
  left: 9.375rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.75rem 9.375rem 0 18.75rem;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.auth__item:last-child a {
  padding: 0.9375rem 2.6875rem;
  color: var(--highlight-color);
  background-color: var(--light-color);
  border-radius: 2rem;
  font-weight: bold;
  transition: 0.4s ease;
}

.auth__item:last-child a:hover {
  background-color: var(--hover-color);
}

.nav__arrow {
  margin: 0.4375rem 0 0 0.625rem;
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.dropdown {
  top: 3.125rem;
  left: -1.25rem;
  width: 8.125rem;
  height: 7.5rem;
  padding: 2.1875rem 2.1875rem 1.5625rem 2.1875rem;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.dropdown__list {
  gap: 1.5625rem;
}

.dropdown__list a {
  color: var(--black-color);
}

.hero {
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12.5rem;
  font-size: 1rem;
}

.hero__title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 500;
}

.hero__subtitle {
  margin: 1.25rem 0 4.375rem 0;
  font-size: 1.3rem;
  font-weight: 100;
}

.hero__cta-list {
  gap: 1.25rem;
}

.hero__cta-item a {
  padding: 0.9375rem 1.5625rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  border-radius: 2rem;
  transition: 0.4s ease;
}

.hero__cta-item:first-child a {
  color: var(--highlight-color);
  background-color: var(--light-color);
}

.hero__cta-item:first-child a:hover {
  color: var(--light-color);
  background-color: var(--hover-color);
}

.hero__cta-item:last-child a {
  color: var(--light-color);
  border: 0.0625rem solid var(--light-color);
}

.hero__cta-item:last-child a:hover {
  color: var(--highlight-color);
  background-color: var(--light-color);
}

.features-section {
  color: var(--heading-color);
  overflow: hidden;
}

.features-section__title {
  margin: 9.375rem auto 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.0625rem;
}

.features-section__image {
  top: 5rem;
  right: -16.875rem;
  width: 55rem;
}

.features-section__list {
  width: 35.2%;
  margin: 6.25rem 0 14.375rem 9.375rem;
  padding: 0;
}

.features-section__item {
  line-height: 1.7rem;
}

.features-section__item:last-child {
  margin-top: 4.375rem;
}

.features-section__item-title {
  margin-bottom: 1.25rem;
  font-size: 1.7rem;
}

.features-section__item-description {
  color: var(--bodycopy-color);
}

.infrastructure-section {
  height: 25rem;
  background-image: linear-gradient(
    to right,
    var(--dark-gray-blue),
    var(--dark-desaturated-blue)
  );
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  overflow: hidden;
}

.infrastructure-section__background-image {
  top: -31.875rem;
  left: -13.4375rem;
}

.infrastructure-section__content {
  top: 5rem;
  right: 12.8125rem;
  width: 35%;
  color: var(--light-color);
}

.infrastructure-section__title {
  font-size: 2.2rem;
  font-weight: 500;
}

.infrastructure-section__description {
  font-weight: 300;
  line-height: 1.7rem;
  color: var(--footer-text-color);
}

.tools-section {
  height: 62.5rem;
  color: var(--heading-color);
}

.tools-section__image--phones {
  top: -29.375rem;
  left: 7.5rem;
}

.tools-section__image--laptop {
  top: 6.25rem;
  left: -17.5rem;
}

.tools-section__list {
  float: right;
  width: 35%;
  margin: 18rem 12.5rem 0 0;
  padding: 0;
}

.tools-section__item {
  line-height: 1.7rem;
}

.tools-section__item:last-child {
  margin-top: 20px;
}

.tools-section__item-title {
  margin-bottom: 1.5625rem;
  font-size: 1.7rem;
}

.tools-section__item-description {
  margin-bottom: 4.375rem;
  color: var(--bodycopy-color);
}

.footer {
  gap: 12.5rem;
  background-color: var(--footer-color);
  border-top-right-radius: 5rem;
}

.footer__logo-image {
  padding: 4.375rem 0 0 9.375rem;
}

.footer__content {
  margin: 4.375rem 0;
  gap: 12.5rem;
}

.footer__list {
  font-family: var(--secondary-font);
  font-weight: 400;
}

.footer__item {
  margin-bottom: 0.9375rem;
}

.footer__item a {
  color: var(--footer-text-color);
}

.footer__item:first-child {
  margin-bottom: 2.5rem;
}

.footer__item:first-child a {
  color: var(--light-color);
}

@media screen and (max-width: 1440px) {
  .infrastructure-section__title {
    width: 115%;
  }

  .tools-section__image--phones {
    top: -29.375rem;
    width: 34.375rem;
  }
}

@media screen and (max-width: 1380px) {
  .infrastructure-section__content {
    right: 8.125rem;
  }

  .tools-section__image--phones {
    left: 6.25rem;
  }

  .tools-section__list {
    margin-right: 7.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .header__background {
    top: -68.75rem;
    left: -30.625rem;
    width: 175rem;
  }

  .hero {
    padding-top: 14.5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .features-section__title {
    font-size: 2rem;
  }

  .features-section__list {
    width: 37%;
    margin-left: 6.25rem;
  }

  .infrastructure-section {
    height: 20.625rem;
  }

  .infrastructure-section__background-image {
    top: -35rem;
    left: -13.75rem;
  }

  .infrastructure-section__content {
    width: 40%;
    right: 5rem;
  }

  .infrastructure-section__title {
    width: 100%;
    font-size: 1.3rem;
  }

  .infrastructure-section__description {
    font-size: 0.875rem;
  }

  .tools-section__image--phones {
    width: 27.5rem;
    top: -23.75rem;
    left: 5.625rem;
  }

  .tools-section__image--laptop {
    width: 50rem;
    top: 11.25rem;
    left: -14.375rem;
  }

  .tools-section__list {
    margin-top: 17.5rem;
  }

  .tools-section__item-title {
    font-size: 1.3rem;
  }

  .tools-section__item-description {
    font-size: 0.875rem;
  }

  .footer {
    gap: 6.25rem;
  }

  .footer__content {
    margin-right: 10.625rem;
    gap: 9.375rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__background {
    top: -62.5rem;
    left: -31.25rem;
    width: 162.5rem;
  }

  .header__logo {
    left: 6.4375rem;
  }

  .header__nav,
  .mobile-menu {
    float: right;
  }

  .header__nav {
    padding: 4.75rem 6.4375rem 0 0;
  }

  .nav__list,
  .auth__list {
    display: none;
  }

  .nav__burger-btn,
  .nav__exit-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu,
  .mobile-menu__nav-item,
  .mobile-menu__auth-item,
  .mobile-menu__dropdown-list,
  section {
    justify-content: center;
    align-items: center;
  }

  .mobile-menu, 
  .mobile-menu__dropdown-list,
  .mobile-menu__auth-list {
    gap: 1.25rem;
  }

  .mobile-menu {
    top: 7.5rem;
    right: 6.25rem;
    width: 13.5rem;
    padding: 1.875rem 3.125rem;
    font-family: var(--primary-font);
    font-weight: 600;
    background-color: var(--light-color);
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
      0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  }

  .mobile-menu a {
    text-decoration: none;
  }

  .mobile-menu__nav-list {
    gap: 1.875rem;
  }

  .mobile-menu__dropdown-list,
  .mobile-menu__divider,
  .infrastructure-section__content,
  .tools-section__list {
    margin: 0;
  }

  .mobile-menu__dropdown-list {
    width: 15.625rem;
    padding: 1.25rem 0;
    background-color: var(--dropdown-list-color);
    border-radius: 0.3rem;
  }

  .mobile-menu__divider {
    width: 120%;
    height: 0.0625rem;
    background-color: var(--divider-color);
  }

  .mobile-menu__nav-item a,
  .mobile-menu__auth-item:first-child a {
    color: var(--mobile-text-color);
  }

  .mobile-menu__dropdown-item a {
    color: var(--dropdown-text-color);
  }

  .mobile-menu__auth-item:last-child a {
    padding: 0.9375rem 2.5rem;
    color: var(--light-color);
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    border-radius: 2rem;
  }

  .features-section__image,
  .infrastructure-section__content,
  .tools-section__image--laptop {
    position: relative;
  }

  .mobile-menu__nav-item,
  .mobile-menu__auth-item,
  section,
  .features-section__content,
  .tools-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .features-section__item,
  .infrastructure-section__content,
  .tools-section__item,
  .footer__list {
    text-align: center;
  }

  .features-section {
    height: fit-content;
  }

  .features-section__image {
    top: 0;
    right: 0;
    width: 37.5rem;
    margin-bottom: 1.25rem;
  }

  .features-section__list {
    width: 50%;
    margin: 0 0 15.625rem 0;
  }

  .features-section__item:last-child {
    margin-top: 0;
  }

  .infrastructure-section {
    height: 37.5rem;
  }

  .infrastructure-section__content {
    right: auto;
  }

  .infrastructure-section__title {
    margin: 0 0 1.25rem;
    font-size: 2.4rem;
  }

  .infrastructure-section__description {
    margin-top: 0;
    font-size: 1rem;
  }

  .tools-section {
    height: auto;
    padding: 6.25rem 0;
  }

  .tools-section__list {
    width: 50%;
  }

  .tools-section__item-title,
  .tools-section__item-description {
    margin-bottom: 0;
  }

  .tools-section__item-title {
    font-size: 1.5em;
  }

  .tools-section__item-description {
    font-size: 1rem;
  }

  .tools-section__image--phones {
    top: -50rem;
    left: auto;
  }

  .tools-section__image--laptop {
    top: -0.625rem;
    left: 0;
    width: 50rem;
  }

  .footer,
  .footer__content {
    flex-direction: column;
  }

  .footer__logo {
    margin: 6.25rem auto 0;
  }

  .footer__logo-image {
    padding: 0;
  }

  .footer__content {
    margin: 0 0 6.25rem 0;
    gap: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-image: linear-gradient(
      var(--primary-color),
      var(--secondary-color)
    );
  }

  .header__background {
    top: -15rem;
    left: -22.1875rem;
    width: 87.5rem;
  }

  .header__logo {
    left: 1.875rem;
  }

  .header__nav {
    padding: 4.75rem 1.875rem 0 0;
  }

  .hero {
    padding-top: 14.375rem;
  }

  .hero__title,
  .hero__subtitle {
    text-align: center;
  }

  .hero__title {
    margin: 0 1.875rem;
    font-size: 2.2rem;
  }

  .hero__subtitle {
    margin: 1.25rem 1.875rem 4.375rem;
    font-size: 1.22rem;
  }

  .mobile-menu {
    top: 8.125rem;
    right: 1.875rem;
  }

  .features-section__title {
    font-size: 1.7rem;
    margin: 6.25rem 0 2.5rem 0;
  }

  .features-section__image {
    width: 108%;
  }

  .features-section__list {
    width: 75%;
  }

  .features-section__item-description {
    width: 104%;
  }

  .infrastructure-section__background-image {
    top: -13.75rem;
    left: -6.875rem;
    width: 36.25rem;
  }

  .infrastructure-section__content {
    width: 78%;
    margin-bottom: 1.5625rem;
  }

  .tools-section__image--phones {
    top: -48.75rem;
    width: 23.7rem;
  }

  .tools-section__image--laptop {
    top: 0rem;
    width: 120%;
  }

  .tools-section {
    padding: 3.125rem 0;
  }

  .tools-section__list {
    width: 80%;
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 374px) {
  .features-section__image,
  .tools-section__image--phones,
  .tools-section__image--laptop {
    width: 100%;
  }

  .hero__title {
    margin: 0;
    font-size: 2rem;
  }

  .hero__subtitle {
    width: 80%;
    margin: 1.25rem 0.9375rem 3.125rem;
    font-size: 1rem;
  }

  .hero__cta-item a {
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
  }

  .mobile-menu {
    width: 9.2rem;
  }

  .mobile-menu__dropdown-list {
    width: 12rem;
    align-items: center;
  }
}
